<h1>{{model.title}}</h1>
<ul>
  <li>title: {{model.title}}</li>
  <li>sub-title: {{model.tileDetails}}</li>
  <li>catagory: {{model.catagory}}</li>
  <li>rating: {{model.rating}}</li>
  <li>zone: {{model.zone}}</li>
  <li>duration: {{model.duration}}</li>
  <li>price: {{model.price}}</li>
  <li>Address: {{model.address.address1}}, {{model.address.city}}, {{model.address.state}} {{model.address.zip}}</li>
  <li>description: {{model.description}}</li>
</ul>
