<div class="activity-title {{color}}-background"><h3 class="funtext-strong">{{model.title}}</h3></div>


<div class="container activity-container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


          <div class="jumbotron shadow" style="background-image: url('{{model.coverUrl}}')"></div>




      <div class="row">
        <div class="col-md-12">
          <h3 class="activity-sub-title page-header funtext">{{model.tileDetails}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">

          <p>{{model.description}}</p>
        </div>
        <div class="col-md-6">
          <div class="activity-info">
            <div class="table {{color}}-border">
              <div class="row">
                <div class="cell">
                  <strong>Rating:</strong>
                </div>
                <div class="cell">
                  {{star-rating rating=model.rating}}
                </div>
              </div>
              <div class="row">
                <div class="cell">
                  <strong>Price:</strong>
                </div>
                <div class="cell">
                  {{dollar-price price=model.price}}
                </div>
              </div>
              <div class="row">
                <div class="cell row-pad">
                  <strong>Takes About:</strong>
                </div>
                <div class="cell row-pad">
                  {{model.duration}}
                </div>
              </div>
              <div class="row ">
                <div class="cell row-border">
                  <div class="cell-right">
                    <a class="btn btn-default btn-sm toned" href="{{model.website}}" role="button">Website</a>
                    &nbsp;&nbsp;<a class="btn btn-default btn-sm toned" href="{{model.address.googleDirections}}" role="button">Directions</a>
                  </div>
                </div>
                <div class="cell row-border">
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          {{#g-map lat=model.address.lat lng=model.address.long zoom=12 as |context|}}
            {{#g-map-marker context lat=model.address.lat lng=model.address.long as |markerContext|}}
              {{#g-map-infowindow markerContext closeOn="click" title="hey"}}
                <p><strong>{{model.title}}</strong></p>
                <p>{{model.address.address1}}<br>
                {{model.address.city}}, {{model.address.state}} {{model.address.zip}}</p>
                <a href="{{model.address.googleDirections}}"><p>Open in Google Maps</p></a>
              {{/g-map-infowindow}}
            {{/g-map-marker}}
          {{/g-map}}
        </div>
      </div>

    </div>
  </div>
</div>
