<h1>edit <b>{{model.title}}</b></h1>

<form {{action "updateActivity" on='submit'}}>
  <div class="row">

    <div class="col-md-4 well">
      <div class="form-group">
        <label for="title">Title [{{model.title}}]</label>
        {{input type="text" value=model.title class="form-control"}}

      </div>
      <div class="form-group">
        <label for="title">Sub-Title [{{model.tileDetails}}]</label>
        {{input type="text" value=model.tileDetails class="form-control" placeholder=model.tileDetails }}

      </div>
      <div class="form-group">
        <label for="catagory">Catagory [{{model.catagory}}]</label>
        {{ted-select
          selectClassNames="form-control"
          content=catagories
          optionValueKey="id"
          optionLabelKey="title"
          onchange=(action "updateCatagory")
          prompt="Choose a new catagory"
        }}

      </div>
      <div class="form-group">
        <label for="rating">Rating [{{model.rating}}]</label>
        {{ted-select
          selectClassNames="form-control"
          content=ratings
          optionValueKey="id"
          optionLabelKey="rating"
          onchange=(action "updateRating")
          prompt="Choose a new rating"
          selected=model.rating
        }}
      </div>

      <div class="form-group">
        <label for="zone">Zone [{{model.zone}}]</label>
        {{ted-select
          selectClassNames="form-control"
          content=zones
          optionValueKey="id"
          optionLabelKey="zone"
          onchange=(action "updateZone")
          prompt="Choose a new zone"
        }}
      </div>
      <div class="form-group">
        <label for="duration">Duration [{{model.duration}}]</label>
        {{ted-select
          selectClassNames="form-control"
          content=durations
          optionValueKey="id"
          optionLabelKey="duration"
          onchange=(action "updateDuration")
          prompt="Choose a new duration"
        }}
      </div>

    </div>

    <div class="col-md-4">
      <div class="well">
        <div class="form-group">
          <label for="price">Price [{{model.price}}]</label>
          {{ted-select
            selectClassNames="form-control"
            content=prices
            optionValueKey="id"
            optionLabelKey="price"
            onchange=(action "updatePrice")
            prompt="Choose a new Price"
          }}
        </div>
      </div>
      <div class="well">
        <div class="form-group">
          <label for="address1">Street Address [{{model.address.address1}}]</label>
          {{input type="text" value=model.address.address1 class="form-control"}}

        </div>
        <div class="form-group">
          <label for="city">City [{{model.address.city}}]</label>
          {{input type="text" value=model.address.city class="form-control"}}

        </div>
        <div class="form-group">
          <label for="state">State [{{model.address.state}}]</label>
          {{input type="text" value=model.address.state class="form-control"}}

        </div>
        <div class="form-group">
          <label for="zip">Zip [{{model.address.zip}}]</label>
          {{input type="number" value=model.address.zip class="form-control"}}

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 well">
      <div class="form-group">
        <label for="description">Description</label>
        {{textarea value=model.description class="form-control" rows="5"}}
      </div>
      <button class="btn btn-primary btn-sm">Save Update</button>
    </div>
  </div>
</form>
