
<div class="container">
<div class="row">
  <div class="page-header">
  <h1 class="funtext guidebook-title">Guidebook!<small class="guidebook-title-small"> All the things you can do</small></h1>
</div>
  <div class="col-lg-2 col-md-3">

    <div class="panel panel-default catagories-panel">
      <div class="panel-heading panel-heading-activity">
        <h3 class="panel-title funtext">Catagory: <span class="pull-right">{{{activeCatagory}}}</span></h3>
      </div>
      {{#if catagoryTable}}
        <table class="table table-hover catagory-table">
          <tbody>
            <tr>
              <td class="red-cell" {{action "setFilterCatagory" 'Inside'}}>Inside</td>
            </tr>
            <tr>
              <td  class="green-cell" {{action "setFilterCatagory" 'Outside'}}>Outside</td>
            </tr>
            <tr>
              <td class="yellow-cell" {{action "setFilterCatagory" 'Kids'}}>Kids</td>
            </tr>
            <tr>
              <td class="blue-cell" {{action "setFilterCatagory" 'Food'}}>Food</td>
            </tr>
            <tr>
              <td class="orange-cell" {{action "setFilterCatagory" 'Drinks'}}>Drinks</td>
            </tr>
            <tr>
              <td class="grey-cell" {{action "setFilterCatagory" ''}}>All</td>
            </tr>
          </tbody>
        </table>
      {{/if}}
      <div class="panel-footer" {{action 'toggleCatagoryTable'}}>
        {{#if catagoryTable}}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        {{else}}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{{/if}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading panel-heading-activity">
        <h3 class="panel-title funtext">Location: <span class="pull-right sort-text">{{buttonLocation}}</span></h3>
      </div>
      {{#if locationTable}}
        <table class="table table-hover catagory-table">
          <tbody>
            <tr>
              <td {{action "setFilterLocation" "Portland"}}>Portland</td>
            </tr>
            <tr>
              <td {{action "setFilterLocation" "Hood-River"}}>Hood-River</td>
            </tr>
            <tr>
              <td {{action "setFilterLocation" ""}}>Everywhere</td>
            </tr>
          </tbody>
        </table>
      {{/if}}
      <div class="panel-footer" {{action 'toggleLocationTable'}}>
        {{#if locationTable}}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        {{else}}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{{/if}}
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading panel-heading-activity">
        <h3 class="panel-title funtext">Sort By: <span class="pull-right sort-text" {{action "sortToggle"}}>{{buttonSort}} {{{sortTriangle}}}</span></h3>
      </div>
      {{#if sortTable}}
        <table class="table table-hover catagory-table">
          <tbody>
            <tr>
              <td {{action "setSortingRating"}}>Rating</td>
            </tr>
            <tr>
              <td {{action "setSortingCatagory"}}>Catagory</td>
            </tr>
            <tr>
              <td {{action "setSortingTitle"}}>Title</td>
            </tr>
            <tr>
              <td {{action "setSortingPrice"}}>Price</td>
            </tr>
          </tbody>
        </table>
      {{/if}}
      <div class="panel-footer" {{action 'toggleSortTable'}}>
        {{#if sortTable}}<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        {{else}}<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>{{/if}}
      </div>
    </div>


  </div>

  <div class="col-lg-10 col-md-9">

      {{#each sortedActivities as |activity|}}
        {{#link-to 'activities.activity' activity}}
          {{activity-tile-2 url=activity.coverUrl activity=activity title=activity.title tileDetails=activity.tileDetails catagory=activity.catagory rating=activity.rating price=activity.price zone=activity.zone}}
        {{/link-to}}
      {{/each}}

  </div>

</div>
</div>
