<div class="container">
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" {{action 'toggleNav'}}>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {{#link-to 'index' class='navbar-brand'}}
                <span class="funtext-strong">PDX Vacay!</span>
            {{/link-to}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {{#if expandNav}}
          <div class="navbar-collapse">
              <ul class="nav navbar-nav">
                {{#link-to 'activities' tagName='li'}}
                  {{link-to 'Guidebook' 'activities'}}
                {{/link-to}}
                {{#link-to 'lists' tagName='li'}}
                  {{link-to 'Itineraries' 'lists'}}
                {{/link-to}}
                {{#link-to 'info' tagName='li'}}
                  {{link-to 'Wedding Info' 'info'}}
                {{/link-to}}
              </ul>
          </div><!-- /.navbar-collapse -->
        {{else}}
        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                {{#link-to 'activities' tagName='li'}}
                  {{link-to 'Guidebook' 'activities'}}
                {{/link-to}}
                {{#link-to 'lists' tagName='li'}}
                  {{link-to 'Itineraries' 'lists'}}
                {{/link-to}}
                {{#link-to 'info' tagName='li'}}
                  {{link-to 'Wedding Info' 'info'}}
                {{/link-to}}
              </ul>
          </div><!-- /.navbar-collapse -->
        {{/if}}
    </div><!-- /.container-fluid -->
  </nav>
</div>


  {{outlet}}
